- @contacts.each do |contact|
  .contact.well.col-md-6
    .row
      .col-md-4
        img class="img-thumbnail" src="#{contact.avatar}" width="80%" height="80%"
      .col-md-8
        ul.list-group
          li.list-group-item
            i.fa.fa-phone
            a = contact.phone
          li.list-group-item
            i.fa.fa-envelope
            a = contact.email
    .row
      i.fa.fa-star-o
      strong = contact.name
