</br>
<%= react_component('FavoriteBtn')%>
</br>
</br>
<a class="js-icon icon-lg">
  <i class="blue fa fa-heart-o"></i>
</a>
<script>
  $(".js-icon").click(function(event){
    var btnIcon = $(this).children("i")
    btnIcon.toggleClass("fa-heart-o")
    btnIcon.toggleClass("fa-heart")
  })
</script>
